<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Dynamic Website</title>
    <link rel="stylesheet" href="app.css">
  </head>
  <body>
    <h1>Hello, <%= name %>!</h1>
    <p>The site was accessed at  <%= date_time %></p>
    <p>You are visitor #<%= visitor %> </p>
    <p><%= last_visit %></p>
  </body>
</html>